.team {
    background-color: var(--light-background-color);
}

.team__list {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
            margin-right: 30px;
        }
}

.team__item {
    max-width: 270px;
    height: 428px;
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team__card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__title {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team__desc {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 16px;
}

.team__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--icons-color);
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
        &:focus {
            color: var(--white-color);
            background-color: var(--brand-color-blue);
        }
}

.social__icon {
    fill: currentColor;
}

