:root {
    // Colors
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --brand-color-blue: #2196F3;
    --brand-color-black: #000000;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --white-color: #FFFFFF;
    --dark-background-color: #2F303A;
    --light-background-color: #F5F4FA;
    --frame-color: #ECECEC;
    --button-hover-focus-color: #188CE8;
    --stroke-color: #EEEEEE;
    --icons-color: #AFB1B8;
    // Fonts
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
}